html {
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    line-height: 1;
    background-color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
    text-decoration: none;
    overflow-x: hidden;
}

header{
    display:flex;
    justify-content: center;
    padding: 13px;
    background-color: #F6F6F7;
}

.headerLogoGX2{
    transform: scale(0.5);
    display: flex;
    align-self: center;
    margin: 1% 1% 150px;
}

.containerMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 140px;
}

.linksmenu{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: 3%;
    border-bottom: 3px solid #f0f0f8;
}

.linksmenu:hover{
    color: #19DBD1;
    border-bottom: 3px solid #19DBD1;
}

.headerItens{
    display: flex;
    align-self: center;

}

.buttonClass {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:2px;
    color:rgba(255, 255, 255, 1);
    border-color:rgba(25, 219, 209, 1);
    font-weight:bold;
    border-top-left-radius:33px;
    border-top-right-radius:33px;
    border-bottom-left-radius:33px;
    border-bottom-right-radius:33px;
    box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 1);
    background:rgba(25, 219, 209, 1);
  }
  
  .buttonClass:hover {
    background: rgba(255, 255, 255, 1);
    color:rgba(25, 219, 209, 1);
  }



